nav{
    font-size: larger;
    padding-left:5rem ;
}
.container{

    margin-top: 20rem;
    padding-left: 15rem;
    margin-right: 20rem; 
}
.container h1{
background-color: rgb(26, 29, 28);
border-radius: 3rem;
padding: 2rem;
}
.table button{
float: right;
margin: 1rem;
padding-left: 15px;
padding-right: 15px;
border: 2px solid;
}

#insert{
    margin: 20rem 20rem 25rem 30rem;
}
#insert small{
    margin: 2rem;
    padding-left: 2rem;
    padding-right:2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

small{
    margin-left: 3rem;
    
    
    color: rgb(6, 10, 9);
}
#span2{
    margin-left: 10rem;
    padding-bottom: 1rem;
}
#span3{
    margin-left: 5rem;
    padding-bottom: 1rem;
}
